
.container {
  display: flex;
  justify-content: space-between;
}

.leftScreen {
  display: flex;
  margin-left: 150px;
}

.pokemonNames {
  border: 1px solid black;
  flex-direction: column;
  padding: 20px;
  overflow-Y: scroll;
  height: 85vh;
  width: 50vh;
  text-align: center;
}

.onePokemon {
  position: fixed;
  right: 150px;
  top: 30px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border: 1px solid black;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
