@import url("https://fonts.googleapis.com/css?family=Gayathri|Source+Sans+Pro&display=swap");

body {
  margin: 0;
}

h3::first-letter {
  text-transform: capitalize;
}

div::first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.appStyle {
  background: url("https://res.cloudinary.com/radiscipio/image/upload/v1566938615/ldk7yfspcamsinxsvd1r.jpg")
    no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  padding-bottom: 5px;
  font-family: "Gayathri", sans-serif;
  background-color: white;
  border-bottom: 5px solid black;
}

.pikachu {
  position: absolute;
  left: 0;
  height: 100px;
}

.logo {
  height: 8%;
  width: 18%;
}
.container {
  display: flex;
  justify-content: space-between;
}

.leftScreen {
  display: flex;
  margin-left: 10%;
}

.name {
  border: 3px solid black;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  justify-content: space-between;
  margin: 3px;
  padding-left: 60px;
  background-color: white;
}

.pokeball {
  padding: 5px 25px 0px 0px;
  width: 20px;
  height: 20px;
}

.pokemonNames {
  flex-direction: column;
  padding: 20px;
  overflow-y: scroll;
  height: 70vh;
  width: 60vh;
  margin: auto;
  margin-bottom: 0;
  cursor: pointer;
}

.name:hover {
  background-color: #dedede;
}

.onePokemon {
  background-color: white;
  border: 3px solid black;
  border-radius: 7px;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1em;
  margin: 2em 4em 0em 1em;
}

.apiName::first-letter {
  text-transform: uppercase;
}

.sprite-and-name {
  padding-right: 20px;
  text-align: center;
}

.sprite-and-name img {
  height: 150px;
  width: 150px;
}

.pokemon-info button {
  border-radius: 7px;
  font-size: 15px;
  font-family: "Gayathri", sans-serif;
  padding: .25em;
}

.myTeam {
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.teamMember {
  background-color: white;
  border: 3px solid black;
  border-radius: 7px;
  justify-content: center;
  padding: 30px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: white;
  border-top: 5px solid black;
  text-align: center;
}

/* Tablet */

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pokemonNames {
    height: 40vh;
  }

  .onePokemon {
    margin: 3em;
    height: 30%;
    width: 75%;
  }

  .pikachu {
    display: none;
  }
}

/* Cellphone */

@media (max-width: 600px) {
  .container {
    border-bottom: 3px solid black;
  }

  .leftScreen {
    margin: 1em 1em 0em 1em;
  }

  .pokemonNames {
    height: 35vh;
    width: 100%;
  }

  .onePokemon {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .sprite-and-name img {
    height: 100px;
    width: 100px;
  }

  .pokemon-info h3 {
    margin-top: 0px;
  }
}
