@import url("https://fonts.googleapis.com/css?family=Gayathri|Source+Sans+Pro&display=swap");

body {
  margin: 0;
}

h3::first-letter {
  text-transform: capitalize;
}

div::first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.appStyle {
  background: url("https://res.cloudinary.com/radiscipio/image/upload/v1566938615/ldk7yfspcamsinxsvd1r.jpg")
    no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 25px;
  padding-bottom: 5px;
  font-family: "Gayathri", sans-serif;
  background-color: white;
  border-bottom: 5px solid black;
}

.pikachu {
  position: absolute;
  left: 0;
  height: 100px;
}

.logo {
  height: 90px;
  width: 260px;
}
.container {
  display: flex;
  justify-content: space-between;
}

.leftScreen {
  display: flex;
  margin-left: 100px;
}

.name {
  border: 3px solid black;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  justify-content: space-between;
  margin: 3px;
  padding-left: 60px;
  background-color: white;
}

.pokeball {
  padding: 5px 25px 0px 0px;
  width: 20px;
  height: 20px;
}

.pokemonNames {
  flex-direction: column;
  padding: 20px;
  overflow-y: scroll;
  height: 70vh;
  width: 60vh;
  margin: auto;
  margin-bottom: 0;
  cursor: pointer;
}

.name:hover {
  background-color: #dedede;
}

.onePokemon {
  background-color: white;
  border: 3px solid black;
  border-radius: 7px;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  justify-content: flex-end;
  flex-direction: column;
  padding: 10px;
  margin: 20px 40px 0px 0px;
}

.apiName::first-letter {
  text-transform: uppercase;
}

.sprite-and-name {
  padding-right: 20px;
  text-align: center;
}

.myTeam {
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.teamMember {
  background-color: white;
  border: 3px solid black;
  border-radius: 7px;
  justify-content: center;
  padding: 30px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: white;
  border-top: 5px solid black;
  text-align: center;
}


